<template>
  <!--===== ABOUT =====-->
  <section class="about section" id="about">
    <h2 class="section-title animate__animated animate__fadeInDown">About</h2>

    <div class="about__container bd-grid">
      <div class="about__img animate__animated animate__fadeInDown">
        <img src="assets/img/preview2.jpg" alt="" />
      </div>

      <div class="animate__animated animate__fadeInDown">
        <h2 class="about__subtitle">I am Chirza Rahman</h2>
        <p class="about__text">
          Introduce I am a web developer, although I am still new to
          programming, at least from some experience, I have helped develop
          several projects so that they run according to the system and I have
          several learning certificates on various platforms, such as: coding,
          sololearn, progate. "Make mistakes so you can learn from them."
        </p>
      </div>
    </div>
  </section>
</template>
