<template>
  <!--===== HOME =====-->
  <section class="home bd-grid" id="home">
    <div class="home__data">
      <h1 class="home__title animate__animated animate__fadeInDown">
        Hi,<br />I am <span class="home__title-color">Chirza</span><br />
        Web Developer
      </h1>

      <router-link to="/about" class="button animate__animated animate__fadeInDown">About Me</router-link>
    </div>

    <div class="home__social">
      <a href="https://gitlab.com/chirzarahman" target="_blank" class="home__social-icon animate__animated animate__fadeInDown"><i class="bx bxl-gitlab"></i></a>
      <a href="https://github.com/chirzarahman" target="_blank" class="home__social-icon animate__animated animate__fadeInDown"><i class="bx bxl-github"></i></a>
    </div>

    <div class="home__img animate__animated animate__fadeInDown">
      <img src="assets/img/developer.svg" alt="Web Developer" />
    </div>
  </section>
</template>

<script>
export default {
  name: "Home",
};
</script>
