<template>
  <!--===== WORK =====-->
  <div>
    <section class="work section" id="work">
      <h2 class="section-title animate__animated animate__fadeInDown">Works</h2>

      <div class="work__container bd-grid">
        <div class="work__img animate__animated animate__fadeInDown">
          <router-link to="/project-ohio">
            <img src="assets/img/img_ohio.png" alt="OHIO Taichan" />
          </router-link>
        </div>
        <div class="work__img animate__animated animate__fadeInDown">
          <router-link to="/project-tangria">
            <img src="assets/img/img_tangria.png" alt="Web Profile Tangria" />
          </router-link>
        </div>
        <div class="work__img img_overlay animate__animated animate__fadeInDown">
          <img
            src="assets/img/img_reservasiresto.png"
            alt="Reservasi Restoran"
          />
          <div class="overlay">
            <div class="text">Coming Soon</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Works",
  components: {},
};
</script>

<style scope>
.work__container {
  row-gap: 2rem;
}
.work__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
img {
  transition: 1s;
  cursor: pointer;
}
img:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7D3D80;
}

.img_overlay:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
</style>