<template>
  <!--===== PROJECT OHIO =====-->
    <section class="section" id="about">
    <h2 class="section-title animate__animated animate__fadeInDown">OHIO</h2>

    <div class="about__container bd-grid">
      <div class="project__img animate__animated animate__fadeInDown">
        <img src="assets/img/img_ohio.png" alt="" />
      </div>

      <div class="animate__animated animate__fadeInDown">
        <h2 class="about__subtitle">OHIO Food Catalog</h2>
        <p class="about__text">
            Pembuatan desain website catalog untuk restoran disebut OHIO.
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Ohio",
};
</script>

<style scope>
.project__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
</style>