<template>
  <!--===== PROJECT Web Profile Tangria =====-->
  <section class="section" id="about">
    <h2 class="section-title animate__animated animate__fadeInDown">Tangria</h2>

    <div class="about__container bd-grid">
      <div class="project__img animate__animated animate__fadeInDown">
        <img src="assets/img/img_tangria.png" alt="" />
      </div>

      <div class="animate__animated animate__fadeInDown">
        <h2 class="about__subtitle">Tangria Product Management</h2>
        <p class="about__text">
          Membantu membuat Frontend panel admin product management dengan Laravel dan vuejs untuk mengelola item di situs utama secara
          dinamis. Idenya adalah mengubah konten situs utama tanpa kode.
          Pengguna hanya membutuhkan akses ke panel admin, dan mereka akan
          memiliki hak penuh untuk memanipulasi konten.
        </p>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Tangria",
};
</script>

<style scope>
.project__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
</style>