<template>
  <header class="l-header">
    <nav class="nav bd-grid">
      <div>
        <a href="#" class="nav__logo"
          ><span style="color: #38b6ff">C</span>Porto</a
        >
      </div>

      <div class="nav__menu" id="nav-menu">
        <ul class="nav__list">
          <li class="nav__item">
            <router-link to="/" active-class="active" class="nav__link active">Home</router-link>
          </li>
          <li class="nav__item">
            <router-link to="/about" active-class="active" class="nav__link">About</router-link>
          </li>
          <li class="nav__item">
            <router-link to="/works" active-class="active" class="nav__link">Work</router-link>
          </li>
        </ul>
      </div>

      <div class="nav__toggle" id="nav-toggle">
        <i class="bx bx-menu"></i>
      </div>
    </nav>
  </header>
</template>

<script>
export default {
  name: "Navbar",
};
</script>
